@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply flex flex-col gap-16;
}

.content {
	@apply flex flex-col gap-16 items-center;
}

.Navigation {
	@apply font-['Inter'] px-12 pt-5
	flex justify-between items-center;
}

.Navigation .left,
.Navigation .right {
	@apply text-xl flex flex-row items-center gap-10;
}

.Navigation .right {
	@apply gap-5;
}

.Navigation .right svg {
	@apply cursor-pointer;
}

.SearchBox {
	@apply flex items-center gap-5 flex-row relative
	after:content-[''] after:absolute after:-bottom-1 after:right-0 after:left-1 after:bg-black after:h-[1px];
}

.SearchBox input {
	@apply outline-none;
}

.straightLine {
	@apply w-[1px] h-[24px] bg-black;
}



footer {
	@apply bg-container-bg p-10 rounded-t-xl
	flex flex-row justify-between items-center;
}

footer .links {
	@apply flex flex-wrap justify-center gap-10 w-[300px];
	grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as per your requirement */
	grid-template-rows: auto auto; /* Two rows */
	gap: 10px; /* Adjust the gap between grid items */
}

footer .links a {
	@apply flex p-1 justify-center items-center
	underline;
}

footer .Contact,
footer .logo {
	@apply flex flex-col items-center gap-3;
}

footer .logo p {
	@apply text-2xl text-gray-500;
}
footer h2 {
	@apply text-3xl font-bold font-['Inter'];
}
